::selection{
    background-color: #fae8e0af !important; 
    color: white !important;
}
body {
    background-color: #76584b;
}
header{
    
}
.navbar{
    padding-top: 0px;
    background-color: #76584b93;
}
.jumbotron{
    height: 100vh;
    background: url('../img/Background.jpg') center/cover no-repeat;
    margin-bottom: 0px !important;
}
.main_text{
    margin-top: 26px !important;
    margin-bottom: 106px !important;
}
.navbar-toggler-icon {
    width: 2em !important;
    height: 2em !important;
}
.navbar-toggler{
    display: none;
}
.link{
    text-decoration: underline;
    font-weight: 300;
}
.about{
    padding: 93px 0px;
}
.title_about{
    font-size: 24px;
    margin-bottom: 76px;
}
.skills{
    background-color: #FFFAF2;
    padding: 93px 0px;
}
.profile_m{
    margin-bottom: 65px !important;
}

@media (max-width: 767.98px) {
    

    .navbar-dark .navbar-toggler {
        color: rgb(255, 255, 255) !important;
        border-color: rgba(255, 255, 255, 0) !important;
    }
    .navbar{
        padding-top: 0px;
    }
    .container-flex{
        display: flex !important;
        justify-content: stretch !important;
    }
    .navbar-nav{
        flex-wrap: wrap !important;
    }
    .navbar-toggler{
        display: block;
    }
    .nav-none{
        display: none;
    }
    .navbar-brand{
        margin: 0px auto;
        font-size: 24px;
        font-weight: bold;
    }
    .jumbotron{
        text-align: center;
    }
    .main_text{
        margin-top: 13px !important;
        margin-bottom: 40px !important;
    }
    .about_p{
        font-size: 12px;
    }
    .about{
        padding: 20px 0px;
    }
    .title_about{
        font-size: 24px;
        margin-bottom: 19px;
        text-align: center;
    }
    .skills{
        background-color: #FFFAF2;
        padding: 25px 0px;
    }
    .rating{
        padding-left: 0px;
    }
    .profile_m{
        margin-bottom: 30px !important;
    }
    .skill_img{
        margin-bottom: 26px !important;
    }
}
@media (max-width: 991.98px) {
    .image_skills{
        margin: 0px auto !important;
    }
    .skill_img{
        margin-bottom: 26px !important;
    }
}
.image_skills{
    text-align: center;
}
.bg-show{
    background-color: #76584b93 !important;
}

.rating{
    padding-left: 50px;
}
